.testing-standard {
  position: relative;
  background-color: var(--ts-desktop-bg-color);
  background-image: var(--ts-desktop-bg-image);
  background-size: cover;
  background-position: center;
  color: var(--ts-text-color);
  padding:120px 0 164px;
}

.testing-standard__inner {
    position: relative;
    z-index: 1;
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 24px;
}

.testing-standard__heading {
    margin: 0 0 12px;
    font-size: 80px;
    line-height: 80px;
    font-family: 'TAYRosemary';
    letter-spacing: -0.80px;
}

.testing-standard__description {
  margin: 0 0 41px;
  max-width: 516px;
}

.testing-standard__description p {
      margin: 0;
    font-size: 20px;
    line-height: 28px;
    font-family: 'TAYRosemary';
    letter-spacing: 0;
}

.testing-standard__list {
    margin: 0;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testing-standard__item {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.32px;
    font-family: 'TAY Birdie';
}

.testing-standard__list:not(ol) {
  list-style-type: disc;
}

@media screen and (max-width: 749px) {
  .testing-standard {
    background-color: var(--ts-mobile-bg-color);
    background-image: var(--ts-mobile-bg-image);
  }
}